.container {
  max-width: 1280px;
  margin: 80px auto;
  //height: 595px;
  display: block;
  justify-content: center;

  .headline {
    display: block;
    text-align: center;
    margin-bottom: 80px;

    & h1 {
      margin-bottom: 2rem;
    }

    & img {
      border-bottom-left-radius: 40px;
    }
  }

  .productInfos {
    color: #424242;
    font-family: 'Open-Sans', sans-serif;

    .productTitle {
      font-size: 1.6rem;
      margin: 0.5rem 0;
    }

    .productPrice {
      font-size: 1.2rem;
    }
  }

  .products {
    display: flex;
    justify-content: space-between;

    & img {
      width: 240px;
      height: auto;
      border-bottom-left-radius: 40px;
    }
  }
}
